.AddProduct-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.AddProduct-login-form-container{
    background-color: #ece0fd;
  padding: 1.5rem 2rem; 
  border: 1px solid #bb9ae7;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.AddProduct-page-heading{
    text-align: center; 
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #6c1bcf;
}
.AddProduct-page-input{
  background-color: #ece0fd; 
  border: 1px solid #bb9ae7;
  color: #a46df1;
  padding: 0.5rem;
  width: 24rem;
  border-radius: 0.375rem;
  outline: none;
}
.AddProduct-page-input::placeholder{
    color: #a46df1;
}
.AddProduct-select-container{
    width: 100%; 
    padding: 0.25rem;
    color: #a46df1; 
    background-color: #ece0fd; 
    border: 1px solid #bb9ae7; 
    border-radius: 0.375rem; 
    outline: none;
}
.AddProduct-description{
  width: 100%; 
  padding: 0.5rem 1rem;  
  background-color: #ece0fd; 
  border: 1px solid #bb9ae7; 
  color: #a46df1;
  border-radius: 0.375rem; 
  outline: none; 
}
.AddProduct-description::placeholder{
    color: #a46df1;
}
.AddProduct-btn{
    background-color: #6c1bcf; 
    transition: background-color 0.3s; 
    width: 100%; 
    color: #fff; 
    text-align: center; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    font-weight: bold; 
    border-radius: 0.375rem; 
}
.AddProduct-btn:hover{
    background-color: #5007aa;
}